.container {
    width: 100%;
    height: 100vh;
    background-color: #feaf05cc;
    background-image: url('../img/fondoLogin3.jpg');
    background-repeat: no-repeat;
    background-position: 170%;
    background-size: contain;
    display: flex;
    justify-content: left;
    align-items: center;
}

.filter {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(180, 154, 19, 0.3029586834733894) 100%);
}

body {
    background-color: #00000036;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 20px;
}

.login-container {
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 25%, rgba(0, 0, 0, 0.7) 75%, rgba(0, 0, 0, 0) 100%);
    padding: 40px;
    width: 30%;
    height: 100%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container h2 {
    text-align: center;
    color: #feaf05cc;
    font-size: 40px;
    margin-bottom: 60px;
}

.login-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #feaf05cc;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form input[type="submit"],
.login-form a {
    margin-top: 50px;
    background-color: #f7c559cc;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.login-form a {
    display: block;
    text-decoration: none;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.login-form input[type="submit"]:hover,
.login-form a:hover {
    background-color: #c6341a;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-start;
}

.logo img {
    width: 40%;
}